$maincolor: #f8f0e5;
$maincolor1: #f5efe9;
$beige: #eadbc8;
$darkbeige: #dac0a3;
$darkblue: #0f2c59;
$brown: #3f2305;

$black: black;
$gradient: linear-gradient(
  90deg,
  rgb(15, 14, 10) 0%,
  rgba(255, 255, 255, 0.13) 45%,
  rgb(7, 7, 6) 100%
);
