.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section__title {
  font-size: 2em;
  margin: 2em 0 1em 0;
  // text-transform: uppercase;
  font-weight: bold;
  color: rgb(20, 46, 70);
  border-bottom: 5px solid #c2ab2a;
}
